rules_version = '2';

service firebase.storage {
  // 認証されたユーザーが、パスに含まれるuserIdと一致するかどうかを判定する共通関数
  function isOwner(userId) {
    return request.auth != null && request.auth.uid == userId;
  }

  // coco-ai-output-narrations バケットのルール
  // 所有者、またはファイル作成から10分以内であれば読み取りを許可 (署名付きURLのため)
  match /b/coco-ai-output-narrations/o {
    match /{userId}/{jobId}/{allPaths=**} {
      allow read: if isOwner(userId) || request.time < resource.timeCreated + duration.value(10, 'm');
      allow write: if false;
    }
  }

  // coco-ai-input-audio バケットのルール
  // 所有者のみ読み取りを許可
  match /b/coco-ai-input-audio/o {
    match /{userId}/{jobId}/{allPaths=**} {
      allow read: if isOwner(userId);
      allow write: if false;
    }
  }

  // coco-ai-output-images バケットのルール
  // 所有者のみ読み取りを許可
  match /b/coco-ai-output-images/o {
    match /{userId}/{jobId}/{allPaths=**} {
      allow read: if isOwner(userId);
      allow write: if false;
    }
  }
}